* { 
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(25, 25, 25);
}

.topBar {
    max-height: 10%;
    flex-shrink: 0;
}

.button1 {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    max-height: 60%;
    
}

.titleDiv {
    flex-shrink: 0;
    background-image: url('images/bryggen i byen.png');
    background-color: rgb(25, 25, 25);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title {
    display: flex;
    font-size: 90px;
    justify-content: center;
    align-items: center;
}

.middle {
    max-height: 70%;
    flex-shrink: 0;
}

.oss {
    display: flex;
    font-size: 90px;
    max-height: 40%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}


.ossTekst {
    display: flex;
    font-size: 20px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    max-height: 60%;
}

.bottom {
    max-height: 40%;
    flex-shrink: 0;
    background-color: rgb(16, 36, 58);
}

.kontakt {
    display: flex;
    font-size: 90px;
    max-height: 40%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.kontaktTekst {
    display: flex;
    font-size: 20px;
    max-height: 60%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}