* { 
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('images/bryggen i byen.png');
    background-color: rgb(25, 25, 25);
    background-repeat: no-repeat;
    background-size: cover;
}

.topBar {
    max-height: 100px;
    flex-shrink: 0;
    background-color: rgb(25, 25, 25);
}

.titleDiv {
    max-height: 300px;
    flex-shrink: 0;
}

.title {
    font-size: 90px;
    text-align: center;
    position: relative;
    top: 40%;
}

.middle {
    max-height: 438.4px;
    flex-shrink: 0;
}

.oss {
    font-size: 90px;
    text-align: center;
    position: relative;
    top: 50%;
}

.kontakt {
    font-size: 90px;
    text-align: center;
    position: relative;
    top: 50%;
}
.bottom {
    max-height: 300px;
    flex-shrink: 0;
}