/* TIPS: Bruk vh, vw og rem for størrelser. Kort forklart baseres det på størrelsen av skjermen istedenfor å tenke på sette verdier som px. (Google for mer info) */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  text-align: center;
}

html {
    scroll-behavior: smooth;
    scroll-padding-block-start: 10vh;
}

body {
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-height: 100vh; /* Her er det du endrer størrelsen på tittel/innledning (hvis du i det hele tatt skal bruke det) */
  min-width: 100vw; /* Her er det du endrer størrelsen på tittel/innledning (hvis du i det hele tatt skal bruke det) */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 10vh;
  width: 100vw;
  background-color: rgb(45, 50, 70);
  filter: drop-shadow(1rem 1rem 1rem rgb(10, 10, 10));
  position: fixed;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

.tittel {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  margin-left: auto;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  right: 5rem;
}

.button-kontakt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: black;
  cursor: pointer;
  max-height: 2rem;
  margin-left: 3rem;
  padding: 1rem;
  background-color: #ffffff;
}

.tittel2 {
  display: flex;
  flex-shrink: 1;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

a {
  text-decoration: none;
}

h2 {
  display: flex;
  flex-shrink: 0;
  font-size: 5rem;
}
h3 {
  display: flex;
  flex-shrink: 0;
  font-size: 8rem;
  padding: 1rem;
  place-self: center;
}

p {
  display: flex;
  flex-shrink: 0;
  font-size: 4rem;
  max-width: 80vw;
}

main {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 300vh;  /* Her er det du endrer størrelsen på hoveddelen */
  align-items: center;
}

footer {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: fit-content;
  max-width: 100vw;
  filter: drop-shadow(1rem 1rem 1rem rgb(10, 10, 10));
  background-color: rgb(45, 50, 70);
  padding-block: 8px;
}

.kontakt-div {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  font-size: 2rem;
  line-height: 3rem;
  gap: 3rem;
}

.kontakt-info {
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem;
}

.kontakt-andre-sider {
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem;
}
